body {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  border-bottom: 0.5px lightgray solid;
  margin-bottom: 15px;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(54, 54, 54);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  outline: none;
  text-shadow: 1px 1px 0px rgb(134, 131, 131);
}